.fontBebas {
  font-family: "Bebas Neue", cursive;
}
.font-Passions {
  font-family: "Passions Conflict", cursive;
}
.fontPoppins {
  font-family: "Poppins", sans-serif;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.mid{
      position: absolute;
  /* top: 50%; */
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
}